fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
sqlalchemy==2.0.35
alembic==1.13.3
psycopg2-binary==2.9.9

# Data Ingestion (Milestone 2)
yfinance==0.2.44
httpx==0.27.2
requests==2.34.2

# API Layer (Milestone 4)
redis==5.0.8

# Identity Management (Milestone 5)
argon2-cffi==23.1.0
pyjwt==2.9.0
